<div class="padrao">
  <div class="div-barra">
    <mat-toolbar>
      <span class="example-spacer">MANMANMANMANMANMANMAN</span>
    </mat-toolbar>
  </div>
  <div class="padrao">
    <form [formGroup]="formulario" autocomplete="off">
      <div class="col-med-4">
        <mat-form-field appearance="outline" class="col-50">
          <mat-label>Ativo</mat-label>
          <input matInput formControlName="de" >
        </mat-form-field>
        <mat-form-field appearance="outline" class="column-span-3">
          <mat-label>Descrição</mat-label>
          <input matInput formControlName="deDescricao" >
        </mat-form-field>
      </div>
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              This is the expansion title
            </mat-panel-title>
            <mat-panel-description>
              This is a summary of the content
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Self aware panel
            </mat-panel-title>
            <mat-panel-description>
              Currently I am {{panelOpenState ? 'open' : 'closed'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="button-container-right">
        <button mat-raised-button color="accent" (click)="closeModal()">
          <mat-icon>cancel</mat-icon>
          <span>{{getLabelCancel()}}</span>
        </button>
        <button mat-raised-button color="primary" (click)="actionFunction()" [disabled]="gravando" >
          <mat-icon>check</mat-icon>
          <span>SUBSTITUIR</span>
        </button>
      </div>
    </form>
  </div>
</div>
