<div class="div-barra">
    <mat-toolbar>
        <span class="example-spacer">Inventario
    </span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" matTooltip="Atualizar" matTooltipPosition="above" (click)="onAtualizar()">
      <mat-icon>rotate_right</mat-icon>
    </button>
    </mat-toolbar>
</div>
<div class="col-med-2">
    <div id="chart_div" class="col-max">

    </div>
    <div id="content" #content class="col-max box" *ngIf="executores.length > 0">
        <h3 class="alinha_centro">EXECUTORES</h3>
        <table class="Browse_Lanc">
            <tr class="coluna-cabec">
                <th>CÓDIGO</th>
                <th>NOME</th>
                <th>ATIVOS</th>
            </tr>
            <tr *ngFor="let exec of executores">
                <td>
                    <div>
                        <mat-label class="Browse_Lanc_td">{{exec.id_usuario}}</mat-label>
                    </div>
                </td>
                <td>
                    <div>
                        <mat-label class="Browse_Lanc_td">{{exec.razao}}</mat-label>
                    </div>
                </td>
                <td>
                    <div>
                        <mat-label class="Browse_Lanc_td_rigth">{{exec.total}}</mat-label>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>