<div class="padrao">
    <div class="div-barra">
        <mat-toolbar>
            <span class="example-spacer">Rotina Para Incluir Ativo Na Fila Do "DE PARA"</span
      >
      <app-navegador-v2
        [controle]="controlePaginas"
        (changePage)="onChangePage()"
      ></app-navegador-v2>
    </mat-toolbar>
  </div>
  <div mat-dialog-content class="dialog-content">
    <form [formGroup]="formulario" autocomplete="off">
      <div class="col-med-4">
        <mat-form-field appearance="outline" class="col-max">
          <mat-label>Ativo De Origem</mat-label>
          <input matInput formControlName="de" />
        </mat-form-field>
        <mat-form-field field appearance="outline" class="column-span-3">
          <mat-label>Pesquisar</mat-label>
          <input class="uppercase" matInput formControlName="dePesquisa" />
          <button
            *ngIf="hasValue('dePesquisa')"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="clearValue('dePesquisa')"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-med-2">
        <mat-form-field appearance="outline" class="col-max">
          <mat-label>Descrição</mat-label>
          <input matInput formControlName="deDescricao" readonly="true" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-max">
          <mat-label>Observação</mat-label>
          <input matInput formControlName="deObs" readonly="true" />
        </mat-form-field>
      </div>
      <div class="moldura">
        <table class="Browse_Lanc">
          <tr class="coluna-cabec">
            <th>Cód Imobil.</th>
            <th>Descrição/CC</th>
            <th>AÇÕES</th>
          </tr>
          <tr *ngFor="let imo of lsAtivos; let i = index">
            <td>
              <div>
                <mat-label class="Browse_Lanc_td">{{
                  imo.id_imobilizado
                }}</mat-label>
              </div>
              <div>
                <mat-label class="Browse_Lanc_td"
                  >{{ imo.imo_origem | origem }}
                </mat-label>
              </div>
              <div>
                <mat-label class="Browse_Lanc_td"
                  >{{ imo.status | situacao }}
                </mat-label>
              </div>
              <div>
                <mat-label class="Browse_Lanc_td">{{
                  imo.imo_apelido
                }}</mat-label>
              </div>
            </td>
            <td>
              <div>
                <mat-label class="Browse_Lanc_td"
                  >Desc.: {{ imo.imo_descricao }}</mat-label
                >
              </div>
              <div>
                <mat-label class="Browse_Lanc_td"
                  >C.C.: {{ imo.imo_cod_cc | ccpipe }}-{{
                    imo.cc_descricao | embrancopipe
                  }}
                </mat-label>
              </div>
              <div>
                <mat-label class="Browse_Lanc_td"
                  >Grupo: {{ imo.grupo_descricao }}</mat-label
                >
              </div>
              <div *ngIf="imo.lanc_obs.trim().length > 0">
                <mat-label class="Browse_Lanc_td"
                  >OBS:{{ imo.lanc_obs }}</mat-label
                >
              </div>
              <div *ngIf="imo.imo_principal > 0">
                <mat-label class="Browse_Lanc_td_red"
                  >Princ.: {{ imo.imo_principal }}-{{
                    imo.princ_descricao
                  }}</mat-label
                >
              </div>
            </td>
            <td>
              <barra-acoes
                [INCLUIR]="true"
                [EXCLUIR]="false"
                [CONSULTAR]="false"
                [ALTERAR]="false"
                [FOTOS]="false"
                [BARRA_VERTICAL]="false"
                [BARRA_NFE]="imo.imo_nfe !== ''"
                [BARRA_VALORES]="false"
                [BARRA_EXCLUIR]="false"
                [BARRA_ATIVIDADES]="false"
                [BARRA_SUBSTITUIR]="false"
                [BARRA_TROCAR]="false"
                [FILA_DEPARA]="false"
                (changeOpcao)="escolha($event, imo)"
              >
              </barra-acoes>
            </td>
          </tr>
        </table>
      </div>
    </form>
  </div>
  <div mat-dialog-actions>
    <div class="button-container-right">
      <button mat-raised-button color="accent" (click)="onCancelar()">
        <mat-icon>cancel</mat-icon>
        <span>{{ getLabelCancel() }}</span>
            </button>
    </div>
</div>
</div>