<div class="div-barra">
  <mat-toolbar>
    <span class="example-spacer">Controle De Para</span>
    <app-navegador-v2
      [controle]="controlePaginas"
      (changePage)="onChangePage()"
    ></app-navegador-v2>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
      (click)="onNovaConsulta()"
      matTooltip="Atualizar"
      matTooltipPosition="above"
    >
      <mat-icon>rotate_right</mat-icon>
    </button>
    <button
      mat-icon-button
      aria-label="Example icon-button with share icon "
      matTooltipPosition="above"
      (click)="onProcessarLote()"
      matTooltip="Processamento Em Lote"
      matTooltipPosition="above"
    >
      <mat-icon>all_inbox</mat-icon>
    </button>

    <button
      mat-icon-button
      aria-label="Example icon-button with share icon "
      matTooltipPosition="above"
      (click)="onHome()"
      matTooltip="Retorno"
      matTooltipPosition="above"
    >
      <mat-icon>home</mat-icon>
    </button>
  </mat-toolbar>
</div>
<app-filtro-depara
  PARAMNAME="paramdepara"
  [HIDE]="hide"
  [EMAIL]="true"
  [DOWNLOAD]="true"
  [CONTROLE_PAGINAS]="controlePaginas"
  (changeParametro)="onChangeParametros($event)"
  (changeHide)="onChangeHide($event)"
>
</app-filtro-depara>
<table class="Browse_Lanc">
  <tr class="coluna-cabec">
    <th>Situação</th>
    <th>DE</th>
    <th>PARA</th>
    <th>AÇÕES</th>
  </tr>
  <tr *ngFor="let depara of lsDeparas; let i = index">
    <td>
      <div>
        <mat-label class="Browse_Lanc_td"
          >Situação: {{ depara.status | situacaoDepara }}</mat-label
        >
      </div>
    </td>
    <td>
      <div>
        <mat-label class="Browse_Lanc_td">Ativo: {{ depara.de }}</mat-label>
      </div>
      <div>
        <mat-label class="Browse_Lanc_td"
          >Descrição:{{ depara.de_descricao }}</mat-label
        >
      </div>
      <div>
        <mat-label class="Browse_Lanc_td"
          >Incluído Por:{{ depara.id_usuario }}-{{
            depara.exec_nome | firstName
          }}
        </mat-label>
      </div>
      <div>
        <mat-label class="Browse_Lanc_td"
          >As: {{ depara.updated_at | date: "short" }}</mat-label
        >
      </div>
    </td>
    <td>
      <div>
        <mat-label class="Browse_Lanc_td">Ativo: {{ depara.para }}</mat-label>
      </div>
      <div>
        <mat-label class="Browse_Lanc_td"
          >Descrição:{{ depara.imob_descricao }}</mat-label
        >
      </div>
      <div>
        <mat-label class="Browse_Lanc_td"
          >Processado Por:{{ depara.user_update }}-{{
            depara.proc_nome | firstName
          }}
        </mat-label>
      </div>
      <div>
        <mat-label class="Browse_Lanc_td"
          >As: {{ depara.dt_processamento | date: "short" }}</mat-label
        >
      </div>
    </td>
    <td class="acoes">
      <barra-acoes
        [CONSULTAR]="false"
        [ALTERAR]="false"
        [EXCLUIR]="false"
        [BARRA_VERTICAL]="depara.status == 0 || depara.status == 4 && depara.de_descricao.trim().length > 0"
        [BARRA_EXCLUIR]="depara.status == 0"
        [PROCESSA_DEPARA_UM]="depara.status < 4"
        [BARRA_REVERTE_DEPARA]="depara.status == 4 && depara.de_descricao.trim().length > 0"
        (changeOpcao)="escolha($event, depara, i)"
      >
      </barra-acoes>
    </td>
  </tr>
</table>
