<div class="padrao">
  <div class="div-barra">
    <mat-toolbar>
      <span class="example-spacer">Realoca E Transfere Ativos</span>
      <mat-label class="label-objetivo">Ativo Realocado Vai Para O Final Da Lista.<br/>Ativo Transferido Fica Com O Código Do Realocado.</mat-label>
    </mat-toolbar>
  </div>
  <div mat-dialog-content class="dialog-content">
    <form [formGroup]="formulario" autocomplete="off">
      <div class="col-med-4">
        <mat-form-field appearance="outline" class="col-50">
          <mat-label>Ativo Realocado</mat-label>
          <input matInput formControlName="de" >
        </mat-form-field>
        <mat-form-field appearance="outline" class="column-span-3">
          <mat-label>Descrição</mat-label>
          <input matInput formControlName="deDescricao" readonly="true">
        </mat-form-field>
      </div>
      <div class="lancamento">
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Lançamento De Inventário "Ativo Realocado"
              </mat-panel-title>
              <mat-panel-description>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div  class = "container">
              <div>
                <mat-label class="Browse_Lanc_td_red">Código Novo: </mat-label>
                <mat-label class="Browse_Lanc_td">{{data.ativo.new_codigo | zerotospacepipe}}</mat-label>
              </div>
              <div>
                <mat-label class="Browse_Lanc_td_red">Origem: </mat-label>
                <mat-label class="Browse_Lanc_td">{{data.ativo.imo_origem | origem}}</mat-label>
              </div>
              <div>
                <mat-label class="Browse_Lanc_td_red">Situação: </mat-label>
                <mat-label class="Browse_Lanc_td">{{data.ativo.lanc_estado | situacao}}</mat-label>
              </div>
            </div>
            <div  class = "container">
              <div>
                <mat-label class="Browse_Lanc_td_red">Grupo: </mat-label>
                <mat-label class="Browse_Lanc_td">{{data.ativo.grupo_descricao}}</mat-label>
              </div>
            </div>
            <div  class = "container">
              <div>
                <mat-label class="Browse_Lanc_td_red">C.C. Original: </mat-label>
                <mat-label class="Browse_Lanc_td">{{data.ativo.cc_descricao}}</mat-label>
              </div>
              <div>
                <mat-label class="Browse_Lanc_td_red">C.C. Novo: </mat-label>
                <mat-label class="Browse_Lanc_td">{{data.ativo.new_cc_descricao}}</mat-label>
              </div>
            </div>
            <div class = "container">
              <div>
                <mat-label class="Browse_Lanc_td_red">Data: </mat-label>
                <mat-label class="Browse_Lanc_td">{{data.ativo.lanc_dt_lanca}}</mat-label>
              </div>
              <div>
                <mat-label class="Browse_Lanc_td_red">Nº Lanc.: </mat-label>
                <mat-label class="Browse_Lanc_td">{{data.ativo.id_lanca}}</mat-label>
              </div>
            </div>
            <div class = "container">
              <div>
                <mat-label class="Browse_Lanc_td_red">Resp: </mat-label>
                <mat-label class="Browse_Lanc_td">{{data.ativo.usu_razao}}</mat-label>
              </div>
              <div>
                <mat-label class="Browse_Lanc_td_red">Condição: </mat-label>
                <mat-label class="Browse_Lanc_td">{{data.ativo.lanc_condicao | condicaopipe}}</mat-label>
              </div>
              <div>
                <mat-label class="Browse_Lanc_td_red">Book: </mat-label>
                <mat-label class="Browse_Lanc_td">{{data.ativo.lanc_book | simNao}}</mat-label>
              </div>
            </div>
            <div class = "container">
              <div>
                <mat-label class="Browse_Lanc_td_red">Obs: </mat-label>
                <mat-label class="Browse_Lanc_td">{{data.ativo.lanc_obs}}</mat-label>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="col-med-3">
        <mat-form-field appearance="outline" class="col-50">
          <mat-label>Ativo Transferido</mat-label>
          <input matInput formControlName="para" >
          <button *ngIf="hasValue('para')" matSuffix mat-icon-button aria-label="Clear" (click)="pesquisar()">
             <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field appearance="outline" class="column-span-2">
          <mat-label>Descrição</mat-label>
          <input matInput formControlName="paraDescricao" readonly="true">
        </mat-form-field>
      </div>
      <div class="lancamento">
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Lançamento De Inventário "Ativo Transferido"
              </mat-panel-title>
              <mat-panel-description>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div  class = "container">
              <div>
                <mat-label class="Browse_Lanc_td_red">Código Novo: </mat-label>
                <mat-label class="Browse_Lanc_td">{{destino.new_codigo | zerotospacepipe}}</mat-label>
              </div>
              <div>
                <mat-label class="Browse_Lanc_td_red">Origem: </mat-label>
                <mat-label class="Browse_Lanc_td">{{destino.imo_origem | origem}}</mat-label>
              </div>
              <div>
                <mat-label class="Browse_Lanc_td_red">Situação: </mat-label>
                <mat-label class="Browse_Lanc_td">{{destino.lanc_estado | situacao}}</mat-label>
              </div>
            </div>
            <div  class = "container">
              <div>
                <mat-label class="Browse_Lanc_td_red">Grupo: </mat-label>
                <mat-label class="Browse_Lanc_td">{{destino.grupo_descricao}}</mat-label>
              </div>
            </div>
            <div  class = "container">
              <div>
                <mat-label class="Browse_Lanc_td_red">C.C. Original: </mat-label>
                <mat-label class="Browse_Lanc_td">{{destino.cc_descricao}}</mat-label>
              </div>
              <div>
                <mat-label class="Browse_Lanc_td_red">C.C. Novo: </mat-label>
                <mat-label class="Browse_Lanc_td">{{destino.new_cc_descricao}}</mat-label>
              </div>
            </div>
            <div class = "container">
              <div>
                <mat-label class="Browse_Lanc_td_red">Data: </mat-label>
                <mat-label class="Browse_Lanc_td">{{destino.lanc_dt_lanca}}</mat-label>
              </div>
              <div>
                <mat-label class="Browse_Lanc_td_red">Nº Lanc.: </mat-label>
                <mat-label class="Browse_Lanc_td">{{destino.id_lanca}}</mat-label>
              </div>
            </div>
            <div class = "container">
              <div>
                <mat-label class="Browse_Lanc_td_red">Resp: </mat-label>
                <mat-label class="Browse_Lanc_td">{{destino.usu_razao}}</mat-label>
              </div>
              <div>
                <mat-label class="Browse_Lanc_td_red">Condição: </mat-label>
                <mat-label class="Browse_Lanc_td">{{destino.lanc_condicao | condicaopipe}}</mat-label>
              </div>
              <div>
                <mat-label class="Browse_Lanc_td_red">Book: </mat-label>
                <mat-label class="Browse_Lanc_td">{{destino.lanc_book | simNao}}</mat-label>
              </div>
            </div>
            <div class = "container">
              <div>
                <mat-label class="Browse_Lanc_td_red">Obs: </mat-label>
                <mat-label class="Browse_Lanc_td">{{destino.lanc_obs}}</mat-label>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </form>
  </div>
  <div mat-dialog-actions>
    <div class="button-container-right">
      <button mat-raised-button color="accent" (click)="closeModal()">
        <mat-icon>cancel</mat-icon>
        <span>{{getLabelCancel()}}</span>
      </button>
      <button mat-raised-button color="primary" (click)="actionFunction()" [disabled]="!itsOK" >
        <mat-icon>check</mat-icon>
        <span>PROCESSAR</span>
      </button>
    </div>
  </div>
</div>

